# Database
DATABASE_URL=postgresql://user:password@host/database

# Server
PORT=3000
NODE_ENV=production

# Stripe (mets tes clés ici)
STRIPE_SECRET_KEY=sk_test_xxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxx

# Pusher
PUSHER_APP_ID=votre_app_id
PUSHER_KEY=votre_key
PUSHER_SECRET=votre_secret
PUSHER_CLUSTER=eu

# Email
EMAIL_USER=votre-email@gmail.com
EMAIL_PASS=votre-mot-de-passe
